// Nain styles


@import "_reset";
@import "_vars";

// BLOCKS

@import "./blocks/_header";
@import "./blocks/section/_peresh";
@import "./blocks/section/_service__card";
@import "./blocks/section/_consultation";
@import "./blocks/section/_form";
@import "./blocks/section/_work__sliders";
@import "./blocks/_footer";


.none {
    display: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background: #F7F6FF;;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    position: relative;
    min-height: 100vh;
} 

.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}




// BTN


.btn-gradient-fiolet {
    padding: 14px 33px;
    background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));

    &:hover {
        background: var(--3, linear-gradient(122deg, #c41e55 29.57%, #b31882 85.47%));
    }
}

.btn-color-blue {
    border-radius: 250px;
    background: #77B2D3;
    padding: 14px 30px;
}

.btn-small {
    width: 195px;
    height: 54px;
}

.btn-big {
    
    width: 205px;
    height: 54px;
}

.btn {
    display: block;
    border-radius: 9px;
    align-items: center;
    transition: all 0.3s;
    color: #FFF;
    font-family: Manrope;

}


// general classes

.title {
    color: #333;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}



